$primary: rgb(0, 126, 252);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.wrapper a {
  text-decoration: none;
}
.nav-item.active a.nav-link:hover {
  text-decoration: underline;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
.post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

// LIKE BUTTON
